{:deps true
 :builds {:app {:target :browser
                :output-dir "public/js"
                :asset-path "js"

                :modules
                {:app
                 {:init-fn refactory.app/init}}

                :compiler-options
                {:externs ["datascript/externs.js"]}

                :dev
                {:compiler-options
                 {:closure-defines
                  {re-frame.trace.trace-enabled? false
                   day8.re-frame.tracing.trace-enabled? false}}}

                :release
                {:build-options
                 {:ns-aliases
                  {day8.re-frame.tracing day8.re-frame.tracing-stubs
                   malli.core refactory.stubs.malli.core
                   malli.error refactory.stubs.malli.error
                   portal.web refactory.stubs.portal.web}}}

                :devtools
                {:preloads [refactory.app.dev.specs
                            refactory.app.dev.portal]
                            ;; day8.re-frame-10x.preload

                 :watch-dir "public"
                 :watch-path "/"}}}

 :dev-http {8000 "public"}}
