$item-io-size: 32px;
$item-io-padding: 6px;


.item-io {
  width: $item-io-size + ($item-io-padding * 2) + 2px;
  height: $item-io-size + ($item-io-padding * 2) + 2px;
  flex-shrink: 0;

  border: solid 1px $grey-light;
  border-radius: 5px;
  padding: $item-io-padding;

  .item-io-content {
    position: relative;
    width: 100%;
    height: 100%;

    > img {
      width: 100%;
      height: 100%;
    }

    > .amount {
      position: absolute;
      bottom: 0;
      right: 0;

      font-size: 0.55rem;
      font-weight: bold;

      background: #333333bb;
      border-radius: 2px;
      color: white;
      padding: 0 0.75ex;
    }
  }
}


.recipe-io {
  display: flex;
  align-items: center;

  .item-io + .item-io {
    margin-left: 0.5rem;
  }

  button.button {
    margin-left: 0.5rem;
  }
}
